<p id="notice"><%= notice %></p>

<h1>Pedidos</h1>

<table class="table table-sm">

  <thead>
    <tr>
      <th>Platillos</th>
      <th>Bebidas</th>
      <th>Precio</th>
      <th>Cantidaddeplatillos</th>
      <th>Cantidaddebebidas</th>
      <th>Postre</th>
      <th>Cantidaddepostres</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pedidos.each do |pedido| %>
      <tr>
        <td><%= pedido.platillos %></td>
        <td><%= pedido.bebidas %></td>
        <td><%= pedido.precio %></td>
        <td><%= pedido.CantidadDePlatillos %></td>
        <td><%= pedido.CantidadDeBebidas %></td>
        <td><%= pedido.postre %></td>
        <td><%= pedido.CantidadDePostres %></td>
        <td><%= link_to 'Show', pedido %></td>
        <td><%= link_to 'Edit', edit_pedido_path(pedido) %></td>
        <td><%= link_to 'Destroy', pedido, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pedido', pedidos_reporte_path %>
